<h2>Celebrities Archive</h2>
<hr />

{{#each celebrities}}
  <h3>{{name}}</h3>
  <p>Occupation: {{occupation}}</p>
  <span>Catch Phrase: {{catchPhrase}}</span>
  <hr />

{{/each}}

<a href='/'>Back</a>