<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>
  <a href='/celebrities/create'>Add a New Celebrity</a>
</h2>
<hr />

<h2>
  <a href='/celebrities'>Celebrities Archive</a>
</h2>
<hr />

<h2>
  <a href='/movies/create'>Add a New Movie</a>
</h2>
<hr />

<h2>
  <a href='/movies'>Movies Archive</a>
</h2>
<hr />